@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none; /* Chrome/Safari/WebKit */
  }

  body {
    @apply bg-black text-white antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-350px * 5 - 1.5rem * 5));
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}